.card {
  margin-bottom: 25px;
  .card-body {
    padding: 0.5rem;
  }

  .card-footer {
    padding: 0.5rem;
  }
}

.icon-arrow {
  padding: 0 10px;
}

.form-control {
  border-radius: 0;
}
