.card {
  margin-bottom: 25px;
}
.card .card-body {
  padding: 0.5rem;
}
.card .card-footer {
  padding: 0.5rem;
}

.icon-arrow {
  padding: 0 10px;
}

.form-control {
  border-radius: 0;
}

@font-face {
  src: url(../font/Merrieweather/Merriweather-Regular.ttf);
  font-family: "merriweather";
}
@font-face {
  src: url(../font/Ubuntu/Ubuntu-Regular.ttf);
  font-family: "ubuntu";
}
@font-face {
  src: url(../font/Roboto/Roboto-Regular.ttf);
  font-family: "roboto";
}
p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.strong {
  font-weight: 600;
}

.container-fluid {
  padding: 0 5%;
}

.nav-link {
  padding: 0 20px 2px;
}

.strike {
  text-decoration: line-through;
  font-size: 0.75rem;
}

body {
  font-family: "merriweather";
  margin: 0;
  padding: 0;
  text-align: center;
}

.iconify {
  position: relative;
  bottom: 2px;
}

.contact {
  width: 100%;
  padding: 0.5% 5%;
  font-family: "roboto";
  border-bottom: 1px solid #c7c7c7;
}
.contact a {
  padding: 0 5px;
  color: black;
  text-decoration: none;
  font-size: 12px;
}
.contact .contact-icon {
  padding: 0 5px;
}

.navbar {
  font-family: "roboto";
  font-weight: 500;
  background-color: white;
}
.navbar .nav-item {
  padding-right: 10px;
}
.navbar .nav-item a {
  color: #5c5c5c;
}

.title {
  padding: 200px 0 350px;
  background-image: linear-gradient(rgba(2, 35, 41, 0.9) 0%, rgba(2, 35, 41, 0.9) 100%), url(../img/title.jpg);
  background-size: cover;
  color: white;
}

.booking {
  font-family: "roboto";
  text-align: left;
  padding: 0 7%;
}
.booking .form-row {
  background-color: white;
  box-shadow: -3px 3px 15px #3a3a3a;
  position: absolute;
  top: 475px;
  right: 150px;
  left: 150px;
}
.booking .form-row .form-group {
  padding: 20px 20px 0;
  margin: 0;
}
.booking .form-row .form-group label {
  font-size: 1.2rem;
  padding-bottom: 5px;
  color: #6c757d;
}
.booking .form-row .form-group-button {
  color: white;
  text-align: center;
  padding: 30px 45px 0;
  height: 130px;
  width: 100%;
  background-color: #1b1b1b;
}
.booking .form-row .form-group-button p {
  font-size: 1.25rem;
}

.features {
  position: relative;
  padding: 2% 8%;
}
.features h2 {
  padding: 10px 0;
}
.features p {
  padding-bottom: 20px;
}
.features .features-icon {
  background-color: #3282b8;
  color: white;
  padding: 10px;
  border-radius: 25px;
  position: relative;
  z-index: 10;
  border: 5px solid white;
}
.features .features-text {
  background-color: #bbe1fa;
  padding: 30px 5px 10px;
  position: relative;
  bottom: 20px;
}

.best {
  padding: 1% 5%;
}
.best .best-head {
  padding-bottom: 10px;
}

.recomendation {
  padding: 1% 0 2%;
  background-color: #e0f2ff;
}
.recomendation .recomendation-head {
  padding-bottom: 10px;
}

.footer {
  font-family: "roboto";
  padding: 2% 5% 0;
  text-align: left;
  background-color: #1e2022;
  color: white;
}
.footer h2 {
  padding-bottom: 20px;
}
.footer ul {
  padding-left: 0;
  text-align: left;
  list-style: none;
}
.footer ul li {
  padding-bottom: 10px;
}
.footer .follow-icon i {
  padding-right: 25px;
}
.footer .footer-form {
  display: flex;
}
.footer .footer-form input {
  height: 40px;
}
.footer .footer-form button {
  color: white;
  background: none;
  border: 2px solid whitesmoke;
  border-radius: 0;
}

.copyright {
  font-family: "roboto";
  background-color: #111111;
  padding: 1% 0;
  color: white;
}

/*# sourceMappingURL=main.css.map */
